{
    "presets": [
        [
            "es2015",
            {
                "modules": false
            }
        ]
    ],
    "plugins": [
        "transform-decorators-legacy",
        "react-hot-loader/babel",
        "transform-react-jsx"
    ],
    "comments": false,
    "env": {
        "test": {
            "presets": [
                "latest",
                "stage-2"
            ],
            "plugins": [
                "istanbul"
            ]
        }
    }
}
